@import '../../sass/abstracts/index';

.PageTwo {

  &__Header {
    grid-column: 2/8;
  }

  &__TableContainer {
    grid-column: 2/8;
    @include boxshadowContainer;

    table {
      margin: 3rem 0;
    }
  }
}
