// Colors

$color-primary: #FF0C00;
$color-primary-light: #fff;
$color-primary-dark: #BF0A30; 
$color-grey-light:#ABABAB;

// Media Queries


$bp-largest: 75em;     // 1200px
$bp-large: 68.75em;    // 1100px
$bp-medium: 56.25em;   // 900px
$bp-small: 37.5em;     // 600px
$bp-smallest: 31.25em; // 500px



// fonts

$font-primary: 'Signika' , sans-serif;
$font-secondary: 'Poppins', sans-serif;


// Sizes 

$font-regular: 400;
$font-semi-bold: 600;
$font-bold: 700;
