@import '../../sass/abstracts/index';

.ActorCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  gap: 0.5rem;
  &__Img {
    margin-bottom: 1rem;
    height: 24rem;
    width: 22rem;
    @media only screen and (max-width: 1377px) {
      width: 90%;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: $border-raduis-m;
    }
  }

  &__Name {
    font-size: 1.8rem;
    font-weight: bold;
  }

  &__Role {
    font-size: 1.8rem;
    font-weight: bold;
    span {
      font-weight: 400;
    }
  }
}
