@import '../../../../../sass/abstracts/index';

.aboutSectionImg {
  width: 32rem;
  height: 25rem;
  @media only screen and (max-width: $bp-small) {
    width: 22rem;
    height: 15rem;
  }
  img {
    width: 100%;
    height: 100%;
  }
}
