
.heading-1 {
  color: #fff;
  font-size: 6rem;
  font-weight: $font-regular;
  text-shadow: 0px 3px 12px #000;
  text-transform: uppercase;
  @media only screen and (max-width:62.5em) {
    font-size: 5rem;
  }
}

.red-text {
  color: $color-primary;
}



.heading-2 {
  color: #fff;
  font-size: 2.5rem;
  font-weight: $font-regular;
  text-shadow: 0px 3px 12px #000000;
  @media only screen and (max-width: $bp-medium) {
    font-size: 1.7rem;
  }
  
}

.heading-3--red,.heading-3--white {
  font-size: 5.5rem;
  font-weight: 400;
  @media only screen and (max-width:$bp-small) {
    font-size: 4rem;
   }
}


.heading-3--red {
  color: $color-primary;
  text-align: center;
}

.heading-3--white {
  color: #fff;
}

.heading-4 {
  color: $color-primary;
  
}

.heading-4--white, .heading-4, .heading-4--black {
  font-size: 3rem;
  font-weight: $font-semi-bold;
  @media only screen and (max-width:62.5em) {
    font-size: 2.5rem;
  }
  @media only screen and (max-width:$bp-small) {
    font-size: 2rem;
   }
}
.heading-4--white {
  color: #fff;
  
}
.heading-4--black {
  color: #000;
}


.heading-5--red, .heading-5--black {
  
  font-size: 2.4rem;
  font-weight: $font-semi-bold;

}

.heading-5--red {
    color: $color-primary;
}
.heading-5--black {
  color: #000;
}

.strong-p {
  font-weight: $font-semi-bold;
  font-size: 2.4rem;
}

.red {
  color: $color-primary !important;
}

