@import '../../sass/abstracts/index';

.footer {
  display: flex;
  // height: 60vh;
  // margin-top: 5rem;
  text-align: center;
  height: 50vh;
  @media only screen and (max-width: 62.5em) {
    height: 30vh;
  }

  &__box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
  }

  .box_1 {
    background-color: #292929;
  }

  .box_2 {
    background-color: #313131;
  }

  &__icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    @media only screen and (max-width: $bp-small) {
      justify-content: space-between;
      flex-direction: column;
      height: 13vh;
    }
  }

  &__img {
    height: 6rem;
    width: 6rem;
    @media only screen and (max-width: $bp-small) {
      height: 2rem;
      width: 2rem;
    }
  }

  &__icon {
    @media only screen and (max-width: $bp-small) {
      height: 2rem;
      width: 2rem;
    }
  }

  &__text,
  &__number,
  &__copyright {
    font-size: 1.5rem;
    color: #fff;
    @media only screen and (max-width: $bp-small) {
      font-size: 1.2rem;
    }
  }

  a:visited {
    text-decoration: none;
    color: black;
  }
  &__text,
  &__number {
    // padding-top: 1rem;
  }

  &__copyright::before {
    background-color: #fff;
    height: 1px;
    width: 80%;
    margin: 3rem auto;
    content: "";
    display: block;
  }

  &__items {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 3rem;
    height: 11.3rem;
  }
  &__item {
    list-style: none;
    height: 3.4rem;
    width: 3.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 500px;
    margin-left: 1rem;
    cursor: pointer;

    &:hover a,
    &:active a {
      color: $color-primary;
      transition: all 0.4s;
    }
  }

  i {
    font-size: 2rem;
  }
}
