.Icon {
  width: 25rem;

  &__TitleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 6rem;
  }
  &__Title {
    font-size: 2.4rem;
    font-weight: 500;
  }

  &__Text {
    font-size: 1.8rem;
    text-align: center;
  }
}
