@import '../../sass/abstracts/index';

.ProfileCard {
  border: 1px solid $color-grey-dark;
  padding-top: 2rem;
  border-radius: $border-raduis-s;

  &__Img {
    width: auto;
    height: 34.5rem;
    margin: auto;
    img {
      border-radius: $border-raduis-s;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
